
<md-toolbar class="md-warn">
   <div class="md-toolbar-tools" layout='row' layout-align='space-around center'>
      <h2 class="md-flex" layout=''>Contacts</h2>
          <md-input-container>
            <label style='color: white'>Search...</label>
            <input ng-model="searchField" type="text">
          </md-input-container>
      <md-button class='md-raised' <a href='#/form'>Add new contact</a></md-button>
   </div>
</md-toolbar>
<!--
<md-content flex layout='row' style="margin-bottom: 20px" md-whitefram='12'>
    <div flex='20'>

    </div>
   <div flex='60' layout='row' md-whitefram='11'>


       <div flex='25'><b><u>First Name</u></b></div>
       <div flex='25'><b><u>Last Name</u></b></div>
       <div flex='25'><b><u>Phone Number</u></b></div>
       <div flex='25'><b><u>Email</b></u></div>

   </div>
   <div flex='20'>

   </div>
</md-content>
<md-content flex layout='row' md-whitefram='11' ng-repeat="contact in contactList | filter:searchField">
    <div flex='20'>

    </div>
   <div flex='60' layout='row' md-whitefram='11'>


       <div flex='25'>{{contact.firstName}}</div>
       <div flex='25'>{{contact.lastName}}</div>
       <div flex='25'>{{contact.phoneNum}}</div>
       <div flex='25'>{{contact.email}}</div>

   </div>
   <div flex='20'>
       {{contact.id}}
   </div>
</md-content>
-->
<!-- Trying tables
<md-content flex layout='row' md-whitefram='11' >
    <div flex='20'>

    </div>
   <div flex='60' layout='row' style='background-color: #FF5722' layout-align='center center'>


       <table cellspacing='10'>
           <tr ng-repeat="contact in contactList | filter:searchField">

               <td>{{contact.firstName}}</td>
                <td>{{contact.lastName}}</td>
                 <td>{{contact.phoneNum}}</td>
                  <td>{{contact.email}}</td>
                  <td ><md-checkbox></md-checkbox></td>
           </tr
       </table>

   </div>
   <div flex='20'>
       {{contact.id}}
   </div>
</md-content>

-->

<md-list style="background-color: #FF6E40; color:white">
  <md-list-item class="md-2-line">
    <div class="md-list-item-text" layout="row" layout-align="start center" style='font-size: 20px; border-bottom: 2px solid black; padding-bottom: 15px'>
        <span flex='10'></span>
      <span flex="20">First Name</span>

      <span flex="20">Last Name</span>

      <span flex="20">Phone Number</span>

      <span flex="20">Email</span>
      <span flex="10"><md-button   class='md-raised' ng-click='removeContacts()'>Remove</md-button></span>

    </div>
  </md-list-item>
  <md-list-item class="md-2-line" ng-repeat="contact in contactList | filter:searchField">
    <div class="md-list-item-text" layout="row" layout-align="start center" style='padding-top: 15px'>
         <span flex="10"></span>
      <span flex="20">{{contact.firstName}}</span>

      <span flex="20">{{contact.lastName}}</span>

      <span flex="20">{{contact.phoneNum}}</span>

      <span flex="20">{{contact.email}}</span>
      <span flex='10' layout='row' layout-align='center center'><md-checkbox aria-label='cbox' ng-checked='exists(contact, selectedContacts)' ng-click='toggle(contact, selectedContacts)'></md-checkbox</span>
    </div>
  </md-list-item>
</md-list>
